<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{title}} | Therr App</title>
    <link rel="canonical" href="https://www.therr.com{{requestPath}}" />

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link rel="dns-prefetch" href="https://ik.imagekit.io">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Lexend:wght@200;400;600;800&display=swap">
    <link rel="preload" as="style" href="/vendor.css">
    <link rel="preload" as="style" href="/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{description}}">
    <meta name="author" content="{{#if authorName}}{{authorName}}{{else}}Therr{{/if}}">
    <meta name="keywords" content="therr, therr app, therr social network, social platform, small businesses, local businesses, mobile, therr startup, startup, geo-social, freelance, freelancer, meet people, communities,  app, social network, chat, therr chat, therr mobile, therr web, hosted chat, geofencing app, social, influencer marketing, create content, brick and mortar, local events, local first social network, TherrCoin, set group of people, geo targeting, geotargeting">

    <meta property="og:site_name" content="Therr" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{title}} | Therr App" />
    <meta property="og:image" content="{{#if metaImgUrl}}{{metaImgUrl}}{{else}}https://therr.com/assets/images/meta-image-logo.png{{/if}}" />
    <meta property="og:description" content="{{description}}" />
    {{#if datePublished}}
    <meta property="article:published_time" content="{{datePublished}}" />
    {{/if}}
    {{#if authorName}}
    <meta property="article:author" content="{{authorName}}" />
    {{/if}}
    {{#if momentCategory}}
    <meta property="article:section" content="{{momentCategory}}" />
    {{/if}}
    <meta name="twitter:image" content="{{#if metaImgUrl}}{{metaImgUrl}}{{else}}https://therr.com/assets/images/meta-image-logo.png{{/if}}" />
    <meta name="twitter:title" content="{{title}} | Therr App" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@therr_app" />

    <link rel="icon" href="/assets/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="preload" as="image" href="{{#if metaImgUrl}}{{metaImgUrl}}{{else}}https://therr.com/assets/images/meta-image-logo.png{{/if}}">
    <script>document.documentElement.setAttribute('data-mantine-color-scheme', (document.cookie.match(/therr-color-scheme=(light|dark)/)||[])[1]||'light');</script>
    <link rel="stylesheet" type="text/css" href="/vendor.css">
    <link rel="stylesheet" type="text/css" href="/app.css">

    <script type="application/ld+json">{{{momentSchema}}}</script>
    <script type="application/ld+json">{{{breadcrumbSchema}}}</script>
</head>

<body>
    <div id="app" class="view">{{{markup}}}</div>
    <script>
        window.__PRELOADED_STATE__ = "{{state}}"
    </script>
    <script defer src="/runtime.js"></script>
    <script defer src="/vendor.js"></script>
    <script defer src="/app.js"></script>
</body>

</html>
