<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="robots">
    <title>{{brandName}} | {{title}}</title>
    <link rel="canonical" href="https://dashboard.therr.com{{routePath}}" />
    
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="{{description}}">
    <meta name="author" content="{{brandName}}">
    <meta name="keywords" content="nearby event feed, nearby newsfeed, therr for business, therr app, therr social network, social platform, small businesses, local businesses, mobile, therr startup, startup, geo-social, freelance, freelancer, meet people, communities,  app, social network, chat, therr chat, therr mobile, therr web, hosted chat, geofencing app, social, influencer marketing, create content, brick and mortar, local events, local first social network, TherrCoin, set group of people, geo targeting, geotargeting">
    
    <meta property="og:title" content="{{brandName}} | {{title}}" />
    <meta property="og:image" content="https://{{host}}/assets/images/{{metaImageFileName}}" />
    <meta property="og:description" content="{{description}}" />
    <meta name="twitter:image" content="https://{{host}}/assets/images/{{metaImageFileName}}" />
    <meta name="twitter:title" content="{{brandName}} | {{title}}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@therr_app" />

    <link rel="icon" href="/assets/images/{{faviconFileName}}">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#5bbad5">

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/app.4d2920335fef115f33ab.css">
</head>

<body>
    <div id="app" class="view">{{{markup}}}</div>
    <script>
        window.__PRELOADED_STATE__ = "{{state}}"
    </script>
    <script src="/app.js"></script>
</body>

</html>
